@import 'styles/_variables';

.footer {
    flex-shrink: 0;
    height: 110px;
    background: #919399;
    .body {
        padding-top: 30px;
        width: 1320px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            .item {
                cursor: pointer;
            }
        }
        .contact{
            display: flex;
            gap: 5px;
            .email{
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
